@font-face {
  font-family: ETBembo;
  src: url('../fonts/ETBembo-RomanLF.ttf');
}

@font-face {
  font-family: ETBembo;
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/ETBembo-DisplayItalic.ttf');
}

html {
  font-size: 15px;
}

body {
  font-family: ETBembo, Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  width: 87.5%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12.5%;
  counter-reset: sidenote-counter;
  color: #111;
  background-color: #fffff8;
}

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  margin-top: 2.1rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0;
}

p.subtitle {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  font-size: 1.2rem;
  line-height: 1.4;
  width: 98%;
  margin: 1.4rem 1%;
  border-spacing: 0 5px;
  border-collapse: separate;
  text-align: right;
  -webkit-font-feature-settings: 'tnum'; /* This is technically redundant */
     -moz-font-feature-settings: 'tnum';
      -ms-font-feature-settings: 'tnum';
}

thead th {
  font-weight: 400;
  border-spacing: 5px 5px;
  border-collapse: separate;
  border-bottom: 1px solid #aaa;
}

td.text {
  text-align: left;
}

span.table-label {
  padding-top: 8px; /* to maintain height relative to table header row */
}

table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.booktabs th {
  font-weight: normal;
  padding: .65ex .5em .4ex .5em;
  text-align: center;
  border-bottom: 1px solid #333;
}

.booktabs th.cmid {
  border-bottom: 1px solid #666;
}

.booktabs th.nocmid {
  border-bottom: none;
}

.booktabs tbody tr:first-child td {
  padding-top: .65ex; /* add space between thead row and tbody */
}

.booktabs td {
  padding-right: .5em;
  padding-left: .5em;
  text-align: left;
}

.booktabs caption {
  font-size: 90%;
  width: auto;
  margin-top: 1ex;
  margin-right: auto;
  margin-left: auto;
  caption-side: top;
  text-align: left;
}

.booktabs tbody tr td.l {
  text-align: left !important;
}

.booktabs tbody tr td.c {
  text-align: center !important;
}

.booktabs tbody tr td.r {
  text-align: right !important;
}

article {
  position: relative;
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p, ol, ul {
  font-size: 1.4rem;
}

p {
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote p {
  font-size: 1.1rem;
  width: 50%;
}

blockquote footer {
  width: 50%;
  text-align: right;
}

ul {
  width: 45%;
  list-style-type: none;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li {
  padding: .5rem 0;
}

figure {
  max-width: 55%;
  margin-bottom: 3em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

figcaption {
  font-size: 1.0rem;
  line-height: 1.6;
  position: relative;
  float: right;
  clear: right;
  margin-top: 0;
  margin-right: -48%;
  margin-bottom: 0;
  vertical-align: baseline;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a {
  padding-bottom: 1px;
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #777;
}

img {
  max-width: 100%;
}

.sidenote, .marginnote {
  font-size: 1.0rem;
  line-height: 1.6;
  position: relative;
  float: right;
  clear: right;
  width: 50%;
  margin-top: 0;
  margin-right: -60%;
  margin-bottom: 0;
  vertical-align: baseline;
}

.table-caption {
  font-size: 1.0rem;
  line-height: 1.6;
  float: right;
  clear: right;
  width: 50%;
  margin-top: 0;
  margin-right: -60%;
  margin-bottom: 0;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before {
  position: relative;
  content: counter(sidenote-counter) ' ';
  vertical-align: baseline;
  color: #f00000;
}

.sidenote-number:after {
  font-size: .9rem;
  top: -.5rem;
  left: .1rem;
  content: counter(sidenote-counter);
}

.sidenote:before {
  position: absolute;
  content: counter(sidenote-counter) '. ';
  /* 100% refers to the computed width of the number, so this transform
     shifts the number just outside the left edge of the sidenote box,
     with a buffer of 0.25rem, no matter how many digits the number has. */
  -webkit-transform: translateX(-100%) translateX(-.25rem);
      -ms-transform: translateX(-100%) translateX(-.25rem);
          transform: translateX(-100%) translateX(-.25rem);
}

p, footer, div.table-wrapper {
  width: 55%;
}

@media screen and (max-width: 760px) {
  p, footer {
    width: 90%;
  }
  pre.code {
    width: 87.5%;
  }
  ul {
    width: 85%;
  }
  figure {
    max-width: 90%;
  }
  figcaption, figure.fullwidth figcaption {
    margin-right: 0;
  }
  blockquote p, blockquote footer {
    width: 90%;
  }
}

.sans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1 .code, h2 .code, h3 .code {
  font-size: .80em;
}

.marginnote .code, .sidenote .code {
  font-size: 1rem;
}

pre.code {
  overflow-x: scroll;
  width: 52.5%;
  padding-left: 2.5%;
}

.fullwidth {
  max-width: 90%;
}

span.newthought {
  font-size: 1.2em;
  font-variant: small-caps;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }
  .sidenote, .marginnote {
    display: none;
  }
  .margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
    position: relative;
    left: 1rem;
    display: block;
    float: left;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
  }
  label {
    cursor: pointer;
  }
  pre.code {
    width: 90%;
    padding: 0;
  }
  .table-caption {
    position: relative;
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-right: 1%;
    margin-bottom: .5rem;
    margin-left: 1%;
    vertical-align: baseline;
  }
  table, table.booktabs {
    width: 85%;
  }
  img {
    width: 100%;
  }
}
